/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Josefin+Sans&family=Reggae+One&display=swap');



/* variables */
:root{
   --gray:#e3e2df;  
   --blue:#4056a1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}

body{
    
    
  
}


.container{
    width: 100%;
    margin: auto;
    display: flex;
    height: 100vh;
    top: 0;
    
}
/* first-box in the general container styling */
.container-box-1{
    flex-basis: 65%;
    
    padding: 0 5em;
    padding-bottom: 3em;
    background-color:var(--gray);
   
}

.header-container{
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

/* first section in the header */
.header-prt-1{
    padding: 2em 10%;
    width: 64vw;
    background-color: var(--gray);
}
/* second section in the header */
.header-prt-2{
  width: 35.8vw;
  background-color: var(--blue);
  padding: 2em;
}



/* logo styling */

#logo h1{
    position: relative;
   
    color:var(--blue);
    font-size: 25px;
    cursor: pointer;
    font-family: 'Cairo', sans-serif;
}
.logo-span{
    display: none;
}


.menu-bar-icon{
  position: absolute;
  right: 3em;
}
.menu-bar-icon i{
    
    color: var(--gray);
    font-size: 30px;
    color: #e85a4f;
    cursor: pointer;
}

/* navbar styling */
.navbar{  
    
    z-index:-1;
    position: absolute;
   padding: 4em;
   width:20em;
    height: fit-content;
    margin: auto;
    right: 0;
    top: 40px;
    clip-path: circle(0% at 100% 0%);
    transition: all  .6s ease-in; 
    background-color: var(--gray);  
}

.navbar ul{
    list-style-type:circle;
 
    
}
::marker{
   color: var(--blue);
   font-size: 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    border-bottom: 2px solid black;
    line-height: 5em;
    cursor: pointer;
}
.navbar ul li a:hover{
    color: var(--blue);
}

.mobile-menu{
    clip-path: circle(200% at 100% 100%)
}


/* text-section */
.text-box{
    padding: 4em;
   padding-top: 13em;
  
   

}
.text-box span{
    font-family: 'Reggae One', cursive;
}
.text-box h1{
    font-size:3rem;
    color: var(--blue);
    line-height: 1.5em;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
}

.text-box p{
    font-size: 18px;
    font-family: 'Cairo', sans-serif;
    width: 80%;
    padding-top: .5em;
    color: #2c2531;
}

.contact-div{
    margin-top:5em;
  
}

.contact-div a{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
   text-decoration: none;
    padding: 1em 4em;
    display: inline;
    color: white;

    background:#e85a4f; /* default color */

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, var(--blue) 50%, #e85a4f 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

  .contact-div a:hover{
    background-position: left;
  }

/* second section styling */

.container-box-2{
    flex-basis: 35%;
    padding: 4em ;
    
  background-color: var(--blue);
}

.borders{
    width: 40%;
    height:40%;
    
    /* border: 5px solid var(--gray); */
    position: absolute;
    top:10em;
    right:.5%
    
}

.bubbles{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top:24em;

}
.bubbles img{
    width: 5%;
    height: auto;
    animation: bubbles 4s linear infinite;
    
}


@keyframes bubbles {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
   100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
}
.bubbles img:nth-child(2){
    animation-delay: 3s;
}
.bubbles img:nth-child(3){
    animation-delay: 4s;
}
.bubbles img:nth-child(4){
    animation-delay: 5s;
}
.bubbles img:nth-child(5){
    animation-delay: 6s;
}
.bubbles img:nth-child(6){
    animation-delay: 4s;
}
.bubbles img:nth-child(7){
    animation-delay: 3s;
}

section{
    background-color: var(--blue);
    padding:5em 4em ;
    font-family: 'Josefin sans', sans-serif;
}

.first-sec-dv{
  
    width: 50%;
    color: var(--gray);
    line-height: 2em;
}

.first-sec-dv h1{
    text-transform: uppercase;
    font-size: 30px;
   
}
.first-sec-dv p{
    width: 90%;
    margin-top: 2em;
    font-size: 18px;
}


#second-prt-dv{
    margin-left: auto;
    margin-top: 3em;
}


/* section 2 styling */
.section2{
    background-color: var(--gray);
    height: 100vh;
    font-family: 'Josefin sans',sans-serif;
}

.section-h1{
    color:#e85a4f;
    text-align: center;
    font-size: 30px;
   
}
.myk-con{
    display: flex;
    margin-top: 5em;
    text-align: center;
    justify-content: space-between;
   
}

.myk-con h1{
    color: var(--blue);
    font-size: 30px;
    padding-bottom: 1em;
   
}
.myk-con p{
    width: 100%;
    text-align: center;
    margin-bottom: 3em;
    
}

.box{
    line-height: 2em;
   padding: 2em;
    width: 100%;
    border-right: 10px solid var(--blue);
}

.box:nth-child(3){
    border: none;
}

.contact-section{
    background-color: var(--gray);
}
.contact-section h1{
    text-align: center;
    font-size: 30px;
    line-height: 2em;

}
.contact-section p {
    text-align: center;
    font-size: 18px;
    
}
form{
    background-color:var(--gray);
    width: 98%;
   
    margin: auto;
    margin-top: 4em;
    height: 80vh;
    transition: all 4s ease-in-out;
}

.form-control{
    width:50%;
    margin: auto;
    display: flex;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--blue);
    font-size: 18px;
    margin-bottom:3em ;
    text-transform: capitalize;
}
form textarea{
    max-width: 50%;
    min-width:50%;
    max-height:3em;
    min-height: 4em;
    border:3px solid #4056a1 ;
    overflow: scroll;
    overflow-x: hidden;
}


form .form-btn{
    margin: auto;
    width: 30%;
    text-align: center;
    justify-content: center;
    padding:  2em;
    display: flex;
    font-family: 'Josefin sans',sans-serif;
    text-transform: uppercase;
    background-color: var(--blue);
    outline: none;
    border: none;
    cursor: pointer;
}


footer{
    height: 100vh;
    background-color: var(--blue);
    color: var(--gray);
    font-family: 'Josefin sans', sans;
    padding: 4em 6em;
}

footer h2{
    opacity: .7;
    text-transform: capitalize;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
   

}

.footer-container{
    display: flex;
    
    justify-content: space-between;
}
.icons{
  margin-top: 6em;
  display: flex;
  width: 30%;
  justify-content: space-between;
  padding-bottom: 13em;
}
.icons a{
    text-decoration: none;
    color: #e85a4f;
    font-size: 20px;
    font-family: 'Reggae One', cursive;
    margin-right: 1em;

}
.icons a:hover{
    color: var(--gray);
    background-color: var(--blue);
}

.footer-links{
    display: grid;
    margin-right: 7em;
}

.footer-links a{
    text-decoration: none;
    color: var(--gray);
    text-transform: capitalize;
    font-size: 18px;
}

footer h3{
    font-size: 18px;
    text-align: center;
    margin-top: 5em;
    font-family: 'cairo'
}

footer span{
    font-size: 30px;
}
/* responsiveness for mobile devices */
@media only screen and (max-width:560px){

    .header-container{
        background-color: var();
    }
   .container{
   display: block;
   }


   .container-box-1{
    padding:20px;
    height:99vh;
   }

    
   #logo h1{

    font-size: 20px;
   
    position: fixed;
   }

   .menu-bar-icon {
    right: 2em;
   }

   .menu-bar-icon i{
    font-size: 20px;
   }

   .navbar{
    position: absolute;
    right: -1em;
    height: 70vh;
    
   }

   .navbar ul{
    padding: 2em;
   }
   .navbar ul li a{
    text-align: center;
    font-size: 16px;
    line-height: 3em;
   }
   
   .text-box{
    
   padding: 0;
   padding-top: 7em;
    padding-left: 0;
    width: 100%;
    background-color: ;
   }
   .text-box h1{
    font-size: 25px;
   }
   .text-box p{
    width: 100%;
    font-size: 18px;
   }

   
   .contact-div{
    width: 100%;
    
    }
    .contact-div a{
     padding:1em 2em;
     font-size: 16px;
     width: 100%;
     margin: auto;
     margin: 0;
     /* display: flex;
     justify-content: center; */
 
    }

   .borders{
    border: none;
    display: block;
   }

   .container-box-2{
    display: none;
   }

   
   section{
    padding:0;
    width: 100%;
    height: fit-content;
    padding-top: 2em;
    background-color: var(--blue);
   }
  .first-sec-dv{
    
    padding-top: 0;
    width: 90vw;
    margin: auto;
   
  }

  .first-sec-dv h1{
    font-size: 18px;
  }

.first-sec-dv p{
    margin-top: 1em;
    font-size: 16px;
}

#second-prt-dv{
    padding-bottom: 2em;
}

.section2{
   height: fit-content;
}

.myk-con{
    flex-direction: column;
}


.box,.box:nth-child(3){
    margin-bottom: 2em;
    border-right: none;
    border-left: 10px solid var(--blue);
}
.box p{
   text-align: left;
}
.contact-section h1{
  font-size: 20px;
}

.contact-section p {
    font-size: 16px;
}


form{
    width: 90%;
    margin: auto;
    margin-top: 4em;
    
 
}
.form-control{
    width: 100%;
    font-size: 16px;
}

form textarea {
    min-width: 100%;
    max-width: 100%;
  
    
}

form .form-btn{
    padding: 1.5em 1em;
    width: 80%;
}

footer{
    width: 100vw;
    padding: 1em;
}

footer h2{
    font-size:16px;
    width: 100%;
    text-align: left;
}

.footer-container{
    flex-direction: column;
}
.icons{
    margin-top: 3em;
    padding-bottom: 3em;
}

.icons a{
    font-size: 16px;
}

.footer-links a{
    margin-bottom: 1em;
    font-size: 16px;
}

footer hr{
    margin-top: 5em;
}
footer h3{
    font-size: 18px;
}
}

@media only screen and (max-width:260px){

    #logo h1{
        font-size: 16px;
    }

    .menu-bar-icon i{
        font-size: 10px;
    }
    .text-box h1{
        font-size:16px;
    }
    .navbar{
    top: 20px;
     right: -5em;
     
    }
}